/* ^.theme-entry .... for desktop devices */
/* ^.mobile .theme-entry .... for touch devices */

/*Theme@2x - hi-dpi*/
@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2)
{
	
}

/*Images - normal*/
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2)
{
	
}

/*Images@2x - hi-dpi*/
@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2)
{
	
}

/*#region RESPONSIVE BREAKING POINTS */

/* #region DESKTOP */


.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control-watermark
{
	height: 2.2rem;
	line-height: 2.2rem;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control input[type=text]
{
	height: 3.2rem;
	border: 0px solid #ffffff;
	background-color: #ffffff;
	border-radius: 2px;
	/* height: 2.4rem; */
}

/* validation */
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .text-input,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .input-control,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .input-control-watermark
{
	background-color: #fff3f4;
	-moz-animation: field_validation_pulse linear infinite 2s alternate-reverse;
	-o-animation: field_validation_pulse linear infinite 2s alternate-reverse;
	-webkit-animation: field_validation_pulse linear infinite 2s alternate-reverse;
	animation: field_validation_pulse linear infinite 2s alternate-reverse; 
	color: #636f80 !important; /* override -- Core.css watermark style with !important */
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid
{
	border: 1px solid rgba(178, 30, 40, 0.4) !important; /* override -- base */
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .Hyperlink:focus 
{
	outline: 1px dotted #00abf0;
}

/* #endregion DESKTOP */


/* #region TOUCH */

.mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control-watermark
{
	height: 3.0rem;
	line-height: 3.0rem;
}

.mobile .theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control input[type=text]
{
	height: 3.2rem;
}

/* #endregion TOUCH */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) and (orientation:portrait), only screen and (max-width : 640px) and (orientation:landscape)
{

}

/* Extra Small Devices - Orientation Targetting */
@media only screen and (max-width : 360px) and (orientation:portrait)
{

}

@media only screen and (max-width : 640px) and (orientation:landscape)
{

}

/*#endregion RESPONSIVE BREAKING POINTS */