.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor0 {
  color: #0478cd;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor1 {
  color: #83c9fc;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor2 {
  color: #00485B;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor3 {
  color: #499eb4;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor4 {
  color: #288054;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor5 {
  color: #66c495;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor6 {
  color: #83c9fc;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor7 {
  color: #499eb4;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor8 {
  color: #66c495;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor9 {
  color: #767956;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor10 {
  color: #Ff3f68;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor11 {
  color: #A354ba;
}
