.theme-entry #ProcessChartPropertyConfig_secondPageOutside #ProcessChartConfigTreeHolder,
.theme-entry #ProcessChartPropertyConfig_secondPageOutside #ProcessChartTextBox,
.theme-entry #UsersConfig_secondPageOutside #UsersTextBox,
.theme-entry #ReportHeaderActivityPicker .workflowTreeContainer
{
    border: 1px solid #e6e6e6;
}

.theme-entry #ProcessChartPropertyConfig_secondPageOutside #addButton1
{
    color: rgba(255,255,255,0.7);
}

.theme-entry #ProcessChartPropertyConfig_secondPageOutside #addButton1:hover
{
    color: #ffffff;
}