/* ^.theme-entry .... for desktop devices */
/* ^.mobile .theme-entry .... for touch devices */

/*Images - normal*/
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2)
{
    .theme-entry .tree li.sharepointhyperlink-control > a,
    .theme-entry .tree li.sharepointhyperlink-control > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a
    {
        background-size: 16px 16px;
        background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.SharePointHyperLink/Images/SharePointHyperlink16.png');
    }

    .theme-entry .tree li.sharepointhyperlink-control > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control > span:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.open.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.open.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > span:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > span:focus
    {
        background-size: 16px 16px;
        background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.SharePointHyperLink/Images/SharePointHyperlink_Selected14.png');
    }
}

/*Images@2x - hi-dpi*/
@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2)
{
    .theme-entry .tree li.sharepointhyperlink-control > a,
    .theme-entry .tree li.sharepointhyperlink-control > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a
    {
        background-size: 16px 16px;
        background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.SharePointHyperLink/Images/SharePointHyperlink16@2x.png');
    }

    .theme-entry .tree li.sharepointhyperlink-control > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control > span:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.open.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.open.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.open > span:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > span:hover,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed.selected > a,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed.selected > span,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > a:focus,
    .theme-entry .tree li.sharepointhyperlink-control.children.closed > span:focus
    {
        background-size: 16px 16px;
        background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.SharePointHyperLink/Images/SharePointHyperlink_Selected14@2x.png');
    }
}

/*#region RESPONSIVE BREAKING POINTS */

/* #region DESKTOP */
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.disabled
{
    border-color: #c7c7c7;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control input[type=text]:disabled,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .addresstitle.disabled,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .descriptiontitle.disabled
{
    color: #c7c7c7;
}

.theme-entry .grid table.grid-content-table .edit-template-row:hover .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c,
.theme-entry .grid table.grid-content-table .edit-template-row:focus .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c
{
    background-color: transparent;
}
.theme-entry .grid table.grid-content-table .edit-template-row:hover .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c .input-control,
.theme-entry .grid table.grid-content-table .edit-template-row:focus .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c .input-control
{
    color: #ffffff;
}
.theme-entry .grid table.grid-content-table .edit-template-row:hover .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c .input-control-watermark,
.theme-entry .grid table.grid-content-table .edit-template-row:focus .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control .input-control-m-c .input-control-watermark
{
    color: #ffffff !important;
}
.theme-entry .grid table.grid-content-table .edit-template-row:hover .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .addresstitle,
.theme-entry .grid table.grid-content-table .edit-template-row:focus .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .addresstitle,
.theme-entry .grid table.grid-content-table .edit-template-row:hover .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .descriptiontitle,
.theme-entry .grid table.grid-content-table .edit-template-row:focus .grid-content-cell.edit-mode .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .descriptiontitle
{
    color: #ffffff;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control-watermark
{
    height: 2.2rem;
    line-height: 2.2rem;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control input[type=text]
{
    height: 3.2rem;
    border: 0px solid transparent;
    background-color: transparent;
    /* height: 2.4rem; */
}

/* validation */
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .text-input,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .input-control,
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid .input-control .input-control-watermark
{
    background-color: transparent;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink.invalid
{
    border: 1px solid transparent !important;
    border-bottom-color: #b71c1c !important;
}

/* #endregion DESKTOP */


/* #region TOUCH */

.mobile .theme-entry .SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control-watermark
{
    height: 3.0rem;
    line-height: 3.0rem;
}

.mobile .theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-SharePointHyperLink .input-control input[type=text]
{
    height: 3.2rem;
}

/* #endregion TOUCH */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) and (orientation:portrait), only screen and (max-width : 640px) and (orientation:landscape)
{
}

/* Extra Small Devices - Orientation Targetting */
@media only screen and (max-width : 360px) and (orientation:portrait)
{
}

@media only screen and (max-width : 640px) and (orientation:landscape)
{
}

/*#endregion RESPONSIVE BREAKING POINTS */