/*Images - normal*/

@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  .theme-entry .tree li.activityinstances-control > a,
  .theme-entry .tree li.activityinstances-control > span,
  .theme-entry .tree li.activityinstances-control.children.open > a,
  .theme-entry .tree li.activityinstances-control.children.closed > a {
    background-size: 16px 16px;
    background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.Reporting.ActivityInstances/Images/ActivityInstancesChart16.png');
  }
  .theme-entry .tree li.activityinstances-control > a:hover,
  .theme-entry .tree li.activityinstances-control > span:hover,
  .theme-entry .tree li.activityinstances-control.selected > a,
  .theme-entry .tree li.activityinstances-control.selected > span,
  .theme-entry .tree li.activityinstances-control > a:focus,
  .theme-entry .tree li.activityinstances-control > span:focus,
  .theme-entry .tree li.activityinstances-control.children.open > a:hover,
  .theme-entry .tree li.activityinstances-control.children.open > span:hover,
  .theme-entry .tree li.activityinstances-control.children.open.selected > a,
  .theme-entry .tree li.activityinstances-control.children.open.selected > span,
  .theme-entry .tree li.activityinstances-control.children.open > a:focus,
  .theme-entry .tree li.activityinstances-control.children.open > span:focus,
  .theme-entry .tree li.activityinstances-control.children.closed > a:hover,
  .theme-entry .tree li.activityinstances-control.children.closed > span:hover,
  .theme-entry .tree li.activityinstances-control.children.closed.selected > a,
  .theme-entry .tree li.activityinstances-control.children.closed.selected > span,
  .theme-entry .tree li.activityinstances-control.children.closed > a:focus,
  .theme-entry .tree li.activityinstances-control.children.closed > span:focus {
    background-size: 16px 16px;
    background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.Reporting.ActivityInstances/Images/ActivityInstancesChart_Selected14.png');
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  .theme-entry .tree li.activityinstances-control > a,
  .theme-entry .tree li.activityinstances-control > span,
  .theme-entry .tree li.activityinstances-control.children.open > a,
  .theme-entry .tree li.activityinstances-control.children.closed > a {
    background-size: 16px 16px;
    background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.Reporting.ActivityInstances/Images/ActivityInstancesChart16@2x.png');
  }
  .theme-entry .tree li.activityinstances-control > a:hover,
  .theme-entry .tree li.activityinstances-control > span:hover,
  .theme-entry .tree li.activityinstances-control.selected > a,
  .theme-entry .tree li.activityinstances-control.selected > span,
  .theme-entry .tree li.activityinstances-control > a:focus,
  .theme-entry .tree li.activityinstances-control > span:focus,
  .theme-entry .tree li.activityinstances-control.children.open > a:hover,
  .theme-entry .tree li.activityinstances-control.children.open > span:hover,
  .theme-entry .tree li.activityinstances-control.children.open.selected > a,
  .theme-entry .tree li.activityinstances-control.children.open.selected > span,
  .theme-entry .tree li.activityinstances-control.children.open > a:focus,
  .theme-entry .tree li.activityinstances-control.children.open > span:focus,
  .theme-entry .tree li.activityinstances-control.children.closed > a:hover,
  .theme-entry .tree li.activityinstances-control.children.closed > span:hover,
  .theme-entry .tree li.activityinstances-control.children.closed.selected > a,
  .theme-entry .tree li.activityinstances-control.children.closed.selected > span,
  .theme-entry .tree li.activityinstances-control.children.closed > a:focus,
  .theme-entry .tree li.activityinstances-control.children.closed > span:focus {
    background-size: 16px 16px;
    background-image: url('../../Controls/SourceCode.Forms.Controls.Web.ControlPack.Reporting.ActivityInstances/Images/ActivityInstancesChart_Selected14@2x.png');
  }
}
